.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #001f3f;
}

.logo {
  height: 60px;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  color: #fff;
}
